<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body  bgcolor="#87CEFA">
<h1>Найти пользователя</p></h1>
<table class ="italic">
    <tr  border="1" bgcolor="#f0f8ff">
        <th bgcolor="#000080"><h2>Id</h2></th>
        <th><h2>Имя</h2></th>
        <th><h2>Фамилия</h2></th>
    </tr>
    <tr>
        <h3 ><td bgcolor="#000080" th:text="${user.getId()}">ID</td></h3>
        <h3><td bgcolor="#f0f8ff"  th:text="${user.getName()}">Имя</td></h3>
        <h3><td bgcolor="#f0f8ff" th:text="${user.getLastName()}">Фамилия</td></h3>

    </tr>
</table>
<br>
<form action="/">
    <button>ПОЛЬЗОВАТЕЛЬ</button>
</form>
</body>
</html>