# Default ignored files
/../../CRUD_2.3.1./.idea/shelf/
/../../CRUD_2.3.1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../CRUD_2.3.1./.idea/httpRequests/
# Datasource local storage ignored files
/../../CRUD_2.3.1./.idea/dataSources/
/../../CRUD_2.3.1./.idea/dataSources.local.xml
